extends layout
block content
    div.text-center
        form(class ="signin" action="/reset-password-email", method="POST")
            if error
                p.text-danger Error !{message}
            else
                p.text-success !{message}
            div.input-container
                label(for="username",) Email:
                input(type="email", placeholder="Enter email", name="email", id="username", autoComplete="false")
          
            button(type="submit") Send me a code
            div.input-link
                <a href="/signin" type="button" class="signin-button">login</a>
