extends layout
block content
    div.text-center
        form(class ="signin" action="/update-password", method="POST")
            if error
                p.text-danger Error !{message}
            else
                p.text-success !{message}
            input(type="hidden", name="token", value=token)
            
            div.input-container
                label(for="password") Password:
                input(type="password", placeholder="Enter password", name="password", id="password", autoComplete="false")
            div.input-container
                label(for="password") Confirm Password:
                input(type="password", placeholder="Enter password", name="password", id="password", autoComplete="false")    
            button(type="submit") Reset Your Password
